.container {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: aqua;
}
.page_paragraph {
    font-family: "Gill Sans", sans-serif;
    margin: 20px;
    font-size: 40px;
    font-weight: bold;
    width: 70%;
    display: flex;
    justify-content: space-between;
}